.gcaption {
    color:#DEDEDE;
    padding:5px;
    padding-left:15px;
    margin-top: 10px;
}

.gallery {
    float:left;
    line-height:0px;
    padding:5px;
    margin:auto;
    width:100%;
}

.gallery a {
    opacity:0.2;
    filter:alpha(opacity=20);
}

.gallery a:hover, .gallery a:focus {
    opacity:1;
    filter:alpha(opacity=100);
}

.lecentreur {
    text-align:center;
    width:100%;
    display:inline-block;
}

.lecentreur a {
    text-decoration:none;
}

.no-gallery {
    padding: 15px;
    border: 2px solid dotted black;
    background: #EFEFEF;
    color: #343434;
    line-height: 1em;
}

.no-gallery-emphase {
    padding: 15px;
    border: 2px solid dotted black;
    background: #EFEFEF;
    font-size: 18px;
    color: #343434;
}

.gallery-title {
    font-size: 18px;
}

.up {
    color: #787878;
    text-decoration: none;
}
.up:hover {
    text-decoration: none;
}
