* {
font-family: Georgia, sans-serif;
}
h1 {
    padding-top: 25px;
}
p.intro {
    font-size: 2.1em;
    line-height: 1.4289em;
    margin-bottom: 1em;
}
hr {
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav > li > a {
    font-size: 1.2em;
}
.footer {
    display:block;
    text-align:center;
    margin-top: 30px;
    background: url('../images/skulls.png') #e6fb71;
}
.link-black:hover {
    color:#439bbd;
}
.black-footer {
    border-left: 2px dotted #343434;
    border-right: 2px dotted #343434;
}
.footer-div {
    height: 100px;
}
header h1 {
    font-size: 4.4em;
    padding: 0;
    text-align: center;
    line-height : 1.618em;
    font-family: Georgia, "Times New Roman", serif;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
}
.footer-zone {
    text-decoration: underline;
}

header span {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 26.9px;
    line-height: 1.618em;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  top: 15px;
  width: 900px;
}
.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.fancy2 span:before,
.fancy2 span:after  {
    top: 25px;
}
header {
    margin-bottom: 5em;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: url('../images/skulls.png') #e6fb71;
    overflow: hidden;
}
body {
  color: #333;
}
a:hover, a:focus {
    color: #e6fb71;
}
#main-bar {
    margin-top: 15px;
    margin-bottom:10px;
}
.antibot {
    display: none;
}
.modal-body {
    background: #ffffff url("../images/mail.png") no-repeat scroll right bottom;
}
